<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'dispatcher/bootstrap.min.css' %}">
    <style type="text/css">
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row" style="height: 50px">
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <form class="form-horizontal" role="form" action="{% url 'dispatcher:login' %}" method="post">
          {% csrf_token %}
            <div class="form-group">
              <div class="row">
                <input type="email" name="loginEmail" class="form-control" id="loginEmail" placeholder="Email">
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <input type="password" name="loginPasswd" class="form-control" id="loginPassword" placeholder="Password">
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-6">
                  <div class="checkbox">
          	  <label>
          	    <input type="checkbox"> Remember me
          	  </label>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary pull-right">Sign in</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <p>
                <span><small>Don't have an Account?</small></span>
                <span><a href="{% url 'dispatcher:signup' %}"><small>Sign up</small></a></span>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div><!-- container -->
  </body>
</html>
